<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Google In-app payment sample</title>
</head>
<body>
<h1>Google In-app payment sample</h1>

<ul>
	<% items.forEach(function(item) { %>
	<li><a href="/buy/<%= item.id %>"><%= item.name %></a></li>
	<% }) %>
</ul>

</script>
</body>
</html>
